* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  color: white;
  text-align: center;
  padding: 20px 20px;
  background-color: #7d5cc6;
  color: white;
  text-align: center;
}
header img{
  max-width: 300px;
  margin: 50 auto;
  align-self: center;
}
p {
  font-size: 20px;
  font-weight: 400;
}
.nav {
  background-color: #4b2570;
  text-align: center;
  /* padding: 0.2rem; */
}
img {
  max-width: 100%;
  /* max-height: 20rem; */
}
.container {
  max-width: 1280px;
  margin: 2rem auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
h1 {
  /* font-weight: 1000; */
  color: #5a2d82;
}
h2 {
  font-weight: 700;
  color: #5a2d82;
}
h3{
font-size: 25px;
}
input,
button, .btn {
  font-family: "Julius Sans One", sans-serif;
  font-style: normal;
  width: 21rem;
  padding: 10px 25px;
  margin: 25px 0;
  border: 0.125rem solid #7d5cc6;
  border-radius: 0.5rem;
}
.btn {
  margin-bottom: 1rem;
  color: #7d5cc6;
  font-size: 18px;
  background: transparent;
  font-weight: 1000;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
  background-color: #4b2570;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #5a2d82;
  color: white;
}
.city-acc{
  list-style-type: none; 
  padding: 0;
}
.info-box {
  margin-top: 20px;
  padding: 15px;
  background: #ccc4dd14;
  border-left: 5px solid #5a2d82;
}
a{
  color: #7d5cc6;
  text-decoration: none;
}