body {
  box-sizing: border-box;
  padding: 0;
  margin: 2rem;
}

h1 {
  font-size: 5rem;
  margin: 2rem 2rem 0 0;
}

ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
}

li,
a {
  display: inline;
  text-align: start;
  text-decoration: none;
}

.content {
  width: 70%;
}
