* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1fr);
}

.logo img {
  width: 10rem;
}

.hero_contact {
  font-size: 1.5rem;
}

.hero_img img {
  width: 25rem;
}

.logo {
  grid-column: 1/6;
  grid-row: 1;
}

.hero_contact {
  grid-column: 1/6;
  grid-row: 2;
}

.hero_img {
  grid-column: 1/6;
  grid-row: 3;
}

form {
  font-size: 2rem;
  grid-column: 7/12;
}
h2 {
  margin: 0;
}

form input,
form textarea {
  width: 25rem;
  height: 5rem;
}
